<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <title>LiquidAbility - Shop</title>
  
  <style>
    body{
      font-family: 'Lilita One', cursive;
    }
  </style>
</head>
<body class="bg-slate-900 text-white">
  <nav>
    <div class="flex bg-[#ede1bb] items-center justify-between h-10">
      <h1 class="text-xl text-amber-500 ml-4">LiquidAbility</h1>
      <h2 class="text-3xl text-yellow-700">Shop Products <i class="fa-solid fa-basket-shopping"></i></h2>
      <a class="mr-4 rounded-full px-4 hover:bg-white hover:text-black py-2 bg-black text-white mt-2" href="/">Cart &nbsp; <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </nav>
  <!-- component -->
<div class="bg-[#ede1bb]">
  <div class="py-8 sm:py-8 lg:mx-auto lg:max-w-7xl lg:px-8">
    <div class="relative mt-4">
      <div class="relative -mb-6 w-full overflow-x-auto pb-6">
        <ul role="list" class="mx-4 inline-flex space-x-8 sm:mx-6 lg:mx-0 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
          <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/redbull-plus-zero_1080x.jpg?v=1623847407" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    RED BULL PLUS
                  </p>
                </h3>
                <span class="inline-flex gap-8 mb-10">
                  <p class="mt-1 text-xl text-gray-600">$15.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

 <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/coca-cola-vanila_1080x.jpg?v=1642855595" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-contian scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    VANILLA COCA COLA
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                <p class="mt-1 text-xl text-gray-600">$8.99</p>
                <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                  <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                </button>
              </span>
              </div>
            </div>

            
           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/old-jamaica-grape-soda_540x.png?v=1672039687" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-contain scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    OLD JAMAICA GRAPE SODA
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$34.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/NESCAFE-CAN-LATTE_1080x.jpg?v=1622709694" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    NESCAFE LATTE
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$12.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

            
           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/monster-energy-ultra_360x.jpg?v=1623847733" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    MONSTER ENERGY ULTRA
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$41.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

            
           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/files/drpepper_360x.jpg?v=1695302979" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    DR.PEPPER CREAM SODA
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$9.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/Lipton-Lemon-Iced-Tea_1080x.jpg?v=1623412281" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    LIPTON ICE TEA
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$22.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>

           <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <img src="https://snackzack.com/cdn/shop/products/Schweppes-Bitter-Lemon-Can-150Ml_1080x.jpg?v=1623412247" alt="Black machined steel pen with hexagonal grip and small white logo at top." class="h-full w-full object-cover scale-75 object-center group-hover:scale-100">
              </div>
              <div class="mt-1">
                
                <h3 class="mt-1 font-semibold text-gray-900">
                  <p href="#">
                    <span class="absolute inset-0"></span>
                    SCHWEPPES BITTER LEMON
                  </p>
                </h3>
                <span class="inline-flex gap-8">
                  <p class="mt-1 text-xl text-gray-600">$27.99</p>
                  <button class="bg-transparent relative border-2 border-black hover:cursor-pointer text-gray-600 hover:bg-black hover:text-white rounded-md px-3 py-1">
                    <i class="fa-solid fa-square-plus"></i> &nbsp; Cart
                  </button>
                </span>
              </div>
            </div>
      </div>
    </div>

  </div>
</div>
     
  
</body>
</html>